<div class="min-h-screen bg-f1Carbon">
    <.header class="flex sticky top-0 flex-col py-8 w-full bg-gradient-to-b from-f1Pink/80 via-65% to-f1Carbon border-1 border-b-f1Carbon">
      F1 Grid Watcher
      <div class="w-full h-px bg-gradient-to-r from-white via-20% to-transparent dark:from-f1Lavender dark:to-f1Purple2" />      
    </.header>
    <main class="container flex flex-col gap-6">
      {@inner_content}
    </main>
</div>
